* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  background-color: #ff6900;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.mainContainer {
  max-width: 1362px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.BarraNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 200px;
}

.sezioneFoto {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
  margin-top: 120px;
}

.descrizione {
  display: flex;
  flex-direction: column;
  line-height: 21px;
}

.etichette {
  position: absolute;
  bottom: 50px;
}

.etichetta-rossa {
  background-color: red;
  padding: 5px 10px;
  width: 63px;
  float: left;
  margin-right: 4px;
}

.etichetta-verde {
  background-color: green;
  padding: 5px 10px;
  width: 109px;
  float: left;
  display: block;
}

.cuore {
  background-color: #fff;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 10px;
}

.fa-solid.fa-heart {
  font-size: 22px;
}

.immagine {
  position: relative;
}

/* FOOTER */
footer {
  background-color: rgb(58, 58, 58);
  margin-top: 50px;
  padding: 20px 0px;
}

.privacy ul {
  list-style: none;
}

.privacy ul li {
  display: inline-block;
}

.privacy ul li:not(:last-child) {
  margin-right: 10px;
}

/* DEBUG */

.debug .mainContainer {
  /* background-color: aquamarine; */
}

.debug .immagine {
  width: 439px;
  height: 609px;
  background-color: brown;
}
