/* BONUS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

nav {
  background-color: #ff6900;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 10px 0px;
}

.mainContainer {
  max-width: 1362px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.BarraNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 200px;
}

.genere a {
  color: #fff;
  text-decoration: none;
}

.genere a:not(:last-child) {
  padding-right: 7px;
}

.genere a {
  font-size: 13px;
}

.icone-user a {
  color: #fff;
  font-size: 16px;
}

.sezioneFoto {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.descrizione {
  display: flex;
  flex-direction: column;
  line-height: 21px;
}

.etichette {
  position: absolute;
  bottom: 50px;
}

.etichetta-rossa {
  background-color: red;
  padding: 5px 10px;
  float: left;
  margin-right: 4px;
  color: white;
  font-weight: 700;
}

.etichetta-verde {
  background-color: green;
  padding: 5px 10px;
  float: left;
  display: block;
  color: white;
  font-weight: 700;
}

.cuore {
  background-color: #fff;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 10px;
}

.cuore a {
  color: #1a1a1a;
}

.cuore a:hover {
  color: red;
}

.cuore i:active {
  transform: translateY(2px);
}

.fa-solid.fa-heart {
  font-size: 22px;
}

.immagine {
  position: relative;
}

.immagine img {
  width: 440px;
}

.titolo {
  font-weight: bold;
}

.prezzo-acquisto {
  color: red;
  font-weight: 700;
}

/* ANIMAZIONE CARD */

.foto-back {
  position: relative;
}

.foto-front {
  position: absolute;
  left: 0;
}

.foto-front:hover {
  opacity: 0;
}

/* ANIMAZIONE CUORE */

/* FOOTER */
footer {
  background-color: #1a1a1a;
  margin-top: 50px;
  padding: 20px 0px;
}

.privacy ul {
  list-style: none;
}

.privacy ul li {
  display: inline-block;
}

.privacy ul li:not(:last-child) {
  margin-right: 10px;
}

.barraFooter p,
li {
  color: #fff;
}

.barraFooter i {
  color: #fff;
}

footer li {
  font-size: 11px;
}

footer p {
  font-size: 11px;
}
.social p {
  padding-bottom: 5px;
}

.social i {
  cursor: pointer;
}

.privacy li {
  cursor: pointer;
}

/* DEBUG */

.debug .mainContainer {
  /* background-color: aquamarine; */
}
